@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root{
    --linearGradientActiveInput: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --redInputError: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --lightGrayishViolet: hsl(270, 3%, 87%);
    --darkGrayishViolet: hsl(279, 6%, 55%);
    --veryDarkViolet: hsl(278, 68%, 11%);
    /* Tipography */
    --tipography: 'Space Grotesk', sans-serif;
}
html {
    /* Reset para rems 62.5% = 10px */
    box-sizing: border-box;
    font-size: 62.5%;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
body{
    font-family: var(--tipography);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}